body {
  margin: 0;
  padding: 0;
}

#head {
  width: 100%;
  height: 80px;
  background-color: #white;
}

#menuimg {
}

.menu {
  color: black;
  float: left;
  margin-left: 0px;
  background-color: transparent;
  border: none;
  width: 120px;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 17px;
}

.menu:hover {
  color: #1f66e5;
}

.menu:first-of-type {
margin-left: 92px;
}

#TL {
  height: 80px;
  width: 20%;
  box-shadow:0px 0px 0px 4px black inset;
  float: left;
}

.imageLinks {
  width: 30px;
  height: auto;
}

#MM {
  height: 80px;
  width: 60%;
  box-shadow:0px 0px 0px 4px black inset;
  float: left;
}

#TR {
  height: 80px;
  width: 20%;
  box-shadow:0px 0px 0px 4px black inset;
  float: left;
}
