body {
  margin: 0;
  padding: 0;
}

#head {
  width: 100%;
  height: 80px;
  background-color: #white;
}

#menuimg {
  width: 80px;
  height: auto;
  margin-top: 15px;
  margin-left: 360px;
}

.menu {
  color: black;
  margin-left: 0px;
  background-color: transparent;
  border: none;
  width: 120px;
  height: 40px;
  font-size: 18px;
  margin-top: 15px;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.menu:hover {
  color: #1f66e5;
  cursor: pointer;
  border-bottom: 3px solid #1f66e5;
}

.first {
  margin-left: 92px;
}

#TL {
  height: 140px;
  width: 20%;
  float: left;
}

.imageLinks {
  width: 14px;
  height: auto;
  margin-left: 20px;
  margin-top: 60px;
}

.imageLinks:first-child {
width: 7px;
margin-left: 90px;
}

#MM {
  height: 140px;
  width: 60%;
  float: left;
}

#MMTOP {
  height: 80px;
  width: 100%;
}

#MMBOT {
  height: 60px;
  width: 100%;
}

#TR {
  height: 140px;
  width: 20%;
  float: left;
}

.TRimages {
  width: 16px;
  height: auto;
  margin-top: 60px;
  margin-left: 20px;
}

.TRimages:first-child {
  margin-left: 100px;
}

.mainBody {
  width: 100%;
  height: 700px;
  margin-top: 100px;
}

.mainTOP {
  width: 100%;
  height: 500px;
  box-shadow: 0 0 0 10px black inset;
}

.mainBOT {
  width: 100%;
  height: 200px;
  box-shadow: 0 0 0 10px red inset;
}

.sideImages {
  width: 225px;
  height: auto;
  float: left;
  margin-left: 10px;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  margin-top: 150px;
  cursor: pointer;
}

.sideImages:Hover {
  width: 300px;
}

.sideImages:first-child {
  margin-left: 85px;
  margin-top: 110px;
}

.sideImages:last-child {
  margin-top: 106px;
}

#middleImage {
  width: 250px;
  height: auto;
  float: left;
  margin-left: 10px;
  margin-top: 60px;
}

.more {
  width: 100px;
  height: 50px;
  background-color: transparent;
  border: none;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  margin-left: 500px;
}

.more:hover {
  box-shadow: 0px 1px 0px 5px black inset;
}
