
/*                          HOME                          */
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}


#head {
  width: 100%;
  height: 80px;
  background-color: #white;
}

#menuimg {
  width: 80px;
  height: auto;
  margin-top: 15px;
  margin-left: 360px;
}

.menu {
  color: black;
  margin-left: 0px;
  background-color: transparent;
  border: none;
  width: 120px;
  height: 40px;
  font-size: 18px;
  margin-top: 15px;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.menu::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #1f66e5;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.menu:hover {
  color: #1f66e5;
  cursor: pointer;
}

.menu:hover::after {
  width: 80%;
}

.chosen {
  color: #b00b69;
}

.chosen:hover {
  color: #b00b69;
}

.chosen::after {
  width: 80%;
  background: #b00b69;
}

.first {
  margin-left: 92px;
}

#TL {
  height: 140px;
  width: 20%;
  float: left;
}

.imageLinks {
  width: 14px;
  height: auto;
  margin-left: 20px;
  margin-top: 60px;
  transition-delay: 0.2s;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.imageLinks:hover {
  padding-bottom: 5px;
  border-bottom: 3px solid #1f66e5;
}

.imageLinks:first-child {
width: 7px;
margin-left: 90px;
}

#MM {
  height: 140px;
  width: 60%;
  float: left;
}

#MMTOP {
  height: 80px;
  width: 100%;
}

#MMBOT {
  height: 60px;
  width: 100%;
}

#TR {
  height: 140px;
  width: 20%;
  float: left;
}

.TRimages {
  width: 16px;
  height: auto;
  margin-top: 60px;
  margin-left: 20px;
  transition-delay: 0.2s;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.TRimages:hover {
  padding-bottom: 5px;
  border-bottom: 3px solid #1f66e5;
}

.firstsearch {
  margin-left: 100px;
}

.mainBody {
  width: 100%;
  height: 700px;
  margin-top: 100px;
}

.mainTOP {
  width: 100%;
  height: 450px;
}

.mainBOT {
  width: 100%;
  height: 200px;
}

.sideImages {
  width: 225px;
  height: auto;
  float: left;
  margin-left: 10px;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  margin-top: 150px;
  cursor: pointer;
}

.sideImages:Hover {
  width: 300px;
}

.sideImages:first-child {
  margin-left: 85px;
  margin-top: 110px;
}

.sideImages:last-child {
  margin-top: 106px;
}

#middleImage {
  width: 250px;
  height: auto;
  float: left;
  margin-left: 10px;
  margin-top: 60px;
}

.more {
  width: 100px;
  height: 50px;
  background-color: transparent;
  border: none;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  margin-left: 620px;
  font-size: 14px;
}

.more::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #1f66e5;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.more:hover::after {
  width: 100%;
  cursor: pointer;
}


/*                          PORTFOLIO                          */
.portMainBody {
margin-top: 80px;
width: 100%;
height: 1000px;
}

.TopPort {
  width: 100%;
  height: 300px;
  text-align: center;
  background-size: cover;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(sources/portfolio/backgroun.png);
  background-repeat: no-repeat;
}

#AboutUs {
  color: #b00b69;
  margin-top: 70px;
  font-size: 64px;
}

.LeftPort {
  width: 50%;
  height: 700px;
  box-shadow: 0 0 0 4px red inset;
  float: left;
}

#detailUs {
  width: 60%;
  height: 400px;
  box-shadow: 0 0 0 3px black inset;

}

.RightPort {
  width: 50%;
  height: 700px;
  box-shadow: 0 0 0 4px green inset;
  float: left;
  text-align: center;
}

#imageUs {
  width: 90%;
  height: auto;
}

/*                          CENNÍK                          */
.cennikMainBody {

}


/*                          REFERENCIE                          */
.refMainBody {

}


/*                          KONTAKT                          */
.kontaktMainBody {

}
